@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
.App {
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-columns: 40% auto;
  height: 100vh;
;
}

body {
  background-color: rgb(252, 188, 184);
}

.title{
  text-align: left;
  padding-left: 10px;
  
}

.description {
  margin: 25px;

 
}
.list{
  padding-top: 25px;
  
}

